{% extends 'main/base.html' %}


{% block title %}
    ADD
{% endblock  %}



{% block content %}
<div class="row">
    <div class="col-6">
        <div class="container  d-flex flex-column gap-3">
            <h1>ADD PLANT:</h1>
            <form action="{% url 'plants:new_plant_view' %}"  method="post" enctype="multipart/form-data" class="d-flex flex-column gap-4">
                {% csrf_token %}
                <input type="text" placeholder="Name" class="form-control" name="name">
                <textarea placeholder="About" name="about" class="form-control"></textarea>
                <textarea placeholder="used_for" name="used_for" class="form-control"></textarea>
                
                <input type="file" name="image" class="file" required  accept="image/*">
                <label for="category">Select Category</label>
                <select name="category" id="category">
                    
                    {% for val,label in category %}
                        <option value="{{val}}">{{label}}</option>
                    {% endfor %}
                </select>
                <div class="d-flex gap-2">
                    Edible:
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="is_edible" id="True" value="True">
                        <label class="form-check-label" for="True">True</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="is_edible" id="False" value="False">
                        <label class="form-check-label" for="False">False</label>
                    </div>
                </div>
                <input type="submit" value="Add Plant" class="btn btn-primary">
                

            </form>
            <hr>
            

        </div>
    </div>
</div>
{% endblock %}
    